body {
    font-family: "Poppins";
}

/* img {
    width: 350px;
    height: 300px;
} */

/* nav */
nav .container {
    padding-top: 20px;
    padding-bottom: 20px;
}

nav a {
    margin-right: 50px;
    margin-top: 25px;
}

/* button and link */
a:link, a:visited, a:active {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
